<div class="card-item col" style="height: 300px;"> <!-- Set a fixed height -->
  {%- if project.redirect -%}
  <a href="{{ project.redirect }}">
  {%- else -%}
  <a href="{{ project.url | relative_url }}">
  {%- endif -%}
    <div class="card" style="height: 200px;">
      <div class="row align-items-stretch">
        {%- if project.img -%}
        <div class="card-img col-md-6">
          {% include figuretwo.html path=project.img alt="project thumbnail" %}
        </div>
        <div class="col-md-6 d-flex flex-column">
        {%- else -%}
        <div class="col-md-12">
        {%- endif -%}
          <div class="card-body h-100 d-flex flex-column" style="background: none;">
            <p class="card-text">{{ project.description }}</p>
            <div class="row ml-1 mr-1 p-0">
              {%- if project.github -%}
              <div class="github-icon">
                <div class="icon" data-toggle="tooltip" title="Code Repository">
                  <a href="{{ project.github }}"><i class="fab fa-github gh-icon"></i></a>
                </div>
                {%- if project.github_stars -%}
                <span class="stars" data-toggle="tooltip" title="GitHub Stars">
                  <i class="fas fa-star"></i>
                  <span id="{{ project.github_stars }}-stars"></span>
                </span>
                {%- endif -%}
              </div>
              {%- endif -%}
            </div>
          </div>
        </div>
      </div>
    </div>
  </a>
</div>

